
.work {
    border-top: 1px solid #939E83;
    margin: 50px 20px;
    padding: 20px;

    p {
        padding: 10px 0;
    }

    ul {
      margin-top: 90px;
      
      li {
        list-style: none;
        display: block;
    }

    }

     h4 {
        font-weight: bold;
        padding: 15px 0;
      }

      h2 {
        font-weight: bold;
      }

    a {
        color: black;
        text-decoration: underline;
    }
}



