.hobbies {
    span {
        padding: 10px;
    }
}

.animate__animated {

    .animate__bounce {
        animation-duration: 4s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
}


.Ranga {
    color: #794436;
    font-weight: bold;
    font-size: 35px;
    font-family: ranga;
    text-decoration: underline;
    border-left: 5px solid #EACE79;
}
  
  .Asar {
    color: #3F424B;
    font-size: 50px;
    text-transform: uppercase;
    font-family: asar;
    text-shadow: 10px 10px #FAF829;
  }
  
  .Open-sans {
    color: #B2D1C9;
   font-size: 55px;
   font-family: open sans;
   font-style: italic;
   text-decoration: underline;
  }
  
  .Lato {
    color: #513D3E;
    font-size: 40px;
    font-family: lato;
    font-variant: small-caps;
  }
  
  .Oswald {
    color: #A69786;
    font-size: 80px;
    font-family: oswald;
    text-decoration: overline;
  }
  
  .Montsrrat {
    color: black;
    font-size: 59px;
    font-family: montsrrat;
    font-style: italic;
  }
  
  .Lora {
    color: #EACE79;
    font-size: 95px;
    font-family: lora;
    text-shadow: 15px 15px #513D3E;
  }
  
  .Eagle-Lake {
    color: #FAF829;
    font-size: 55px;
    font-family: Eagle Lake;
    letter-spacing: 3px;
    border:3px #939E83;
    border-style: dotted dashed solid double;
  }
  
  .Anton {
    color: #CD8C96;
    font-size: 75px;
    font-family: Anton;
    letter-spacing: 4px;
    word-spacing: 10px;
    border-right: 5px solid #513D3E;
    text-shadow: 2px 2px black;
  }