.container {

    ul {
        padding: 8px; 

        li {
            font-size: 16px;
            padding: 8px;
        }
    }
}
.menu {
    li {
        display: inline;
    }
    a {
        color: #333;
        text-decoration: none;
    }
}

  .btn-primary {
    background-color: transparent;
    color: #333;
    border: none;
  }

  .btn-primary:focus {
    background-color: transparent;
    color: #333;
    border: none;
    box-shadow: none;
  }

   .btn-primary:not(:disabled):not(.disabled):active,
   .show > .btn-primary.dropdown-toggle {
    background-color: transparent;
    color: #333;
    border: none;
  }

  .show>.btn-primary.dropdown-toggle:focus,
  .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
  }

  .btn-primary:hover {
    background-color: transparent;
    color: #333;
    border: none;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-item.active, .dropdown-item:active {
    background-color: #B8AA7D;
    color: #333;
    border: none;
  }

  .dropdown-item:focus, .dropdown-item:hover {
    background-color: #B8AA7D;
    color: #333;
    border: none;
  }